/* Tablet */
@media only screen and (min-width: 1200px) {
  header nav {
    width: 95%;
  }
  header nav h3 {
    font-size: 27px;
  }

  #hero {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-image {
    position: relative;
  }

  .hero-image img {
    width: 1000px;
    border-radius: 20px;
  }

  .food {
    max-width: 90%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    /* background: red; */
    gap: 50px;
  }

  .itm {
    height: max-content;
    display: grid;
    width: 80%;
    position: relative;
    cursor: pointer;
    transition: filter 0.5s ease;
    margin: auto;
  }

  .itm img {
    border-radius: 20px;
    width: 100%;
    transition: filter 0.5s ease;
    user-select: none;
  }

  .itm img:hover,
  .itm:focus > img {
    filter: brightness(0.5);
  }

  .itm figcaption {
    display: grid;
    font-family: "Nunito Sans";
    position: absolute;
    color: #f6f4e8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    width: max-content;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.5s ease;
  }

  .itm figcaption span:first-child {
    font-size: 23px;
    justify-self: center;
  }

  .itm figcaption span:nth-child(2) {
    font-size: 18px;
    justify-self: center;
  }

  .itm figcaption span:last-child {
    font-size: 15px;
    justify-self: center;
  }

  .itm img:hover + figcaption,
  .itm:focus > figcaption {
    opacity: 1;
  }

  .star {
    color: #f7c400;
  }
  
}
