/* Phones */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #344648;
  height: 100px;
}

header nav {
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav h3 {
  font-family: "Coiny", sans-serif;
  font-size: 25px;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: #f6f4e8;
  user-select: none;
}

.container-menu-hamburger {
  height: 45px;
  width: 45px;
  position: relative;
  user-select: none;
  cursor: pointer;
  z-index: 90;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-menu-hamburger span {
  display: block;
  background: #f6f4e8;
  height: 3px;
  width: 100%;
  border-radius: 20px;
  transition: transform 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.container-menu-hamburger span:first-child {
  transform-origin: 0% 0%;
}

.container-menu-hamburger span:nth-child(2) {
  transform-origin: center;
}

.container-menu-hamburger span:last-child {
  transform: 0% 100%;
}

.container-menu-hamburger.open span:first-child {
  transform: rotate(45deg) translate(5px, -5px);
}

.container-menu-hamburger.open span:nth-child(2) {
  transform: scaleX(0);
}

.container-menu-hamburger.open span:last-child {
  transform: rotate(-45deg) translate(10px, -10px);
}

#list {
  font-family: "Coiny", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 60px;
  clip-path: circle(50px at 93% -20%);
  transition: clip-path 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  background: #344648;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
}

#list.openList {
  pointer-events: all;
  clip-path: circle(1500px at 100% 0);
}

#list li a {
  text-decoration: none;
  font-size: 45px;
  color: #f6f4e8;
  position: relative;
}

#list li a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  border-radius: 20px;
  background: #f6f4e8;
  transition: width 0.6s ease-in-out;
}

#list li a:hover:before {
  width: 100%;
}

main {
  display: block;
}

#hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #344648;
}

.hero-image {
  position: relative;
}

.hero-image img {
  width: 100%;
}

.hero-image figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Coiny", sans-serif;
  user-select: none;
  width: max-content;
  /* background: red; */
  line-height: 35px;
}

.hero-image img {
  filter: brightness(0.5);
}

.hero-image figcaption span {
  color: #f6f4e8;
}

.hero-image figcaption span:first-child {
  font-size: clamp(0.625rem, 0.625rem + 1.6949vw, 1.4375rem);
}

.hero-image figcaption span:last-child {
  font-size: clamp(0.4375rem, 0.4375rem + 1.3038vw, 1.0625rem);
}

.item {
  background: #f6f4e8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px 0;
}

.item h3 {
  font-size: clamp(1.25rem, 1.25rem + 1.3038vw, 1.875rem);
}

.food {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin: 20px auto;
}

.itm {
  height: max-content;
  display: grid;
  width: 80%;
  position: relative;
  cursor: pointer;
  transition: filter 0.5s ease;
  margin: auto;
}

.itm img {
  border-radius: 20px;
  width: 100%;
  transition: filter 0.5s ease;
  user-select: none;
}

.itm img:hover,
.itm:focus > img {
  filter: brightness(0.5);
}

.itm figcaption {
  display: grid;
  font-family: "Nunito Sans";
  position: absolute;
  color: #f6f4e8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  width: max-content;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.5s ease;
}

.itm figcaption span:first-child {
  font-size: 23px;
  justify-self: center;
}

.itm figcaption span:nth-child(2) {
  font-size: 18px;
  justify-self: center;
}

.itm figcaption span:last-child {
  font-size: 15px;
  justify-self: center;
}

.itm img:hover + figcaption,
.itm:focus > figcaption {
  opacity: 1;
}

.star {
  color: #f7c400;
}

#skip {
  background: blue;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
}

#skip:focus {
  opacity: 1;
  pointer-events: all;
}

footer {
  height: 50px;
  background: #344648;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #f6f4e8;
}

.detail {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.detail-head {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 20px 0;
}

.restaurant {
  padding: 10px;
  display: grid;
  grid-template-columns: 4;
}

.head_favorite {
  text-align: center;
  padding: 20px 0;
}

#formInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameInput,
.reviewInput {
  display: flex;
  flex-direction: column;
}

.nameInput label,
.reviewInput label {
  font-weight: 600;
  font-size: 20px;
}

.form-body {
  margin: 20px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
  border: solid 5px rgba(0,0,0,.5);
  display: grid;
  gap: 20px;
}

#nama,
#review {
  height: 50px;
  width: 100%;
  font-size: 18px;
  padding: 10px;
}

.submitButton {
  display: flex;
  justify-content: center;
}

#submit {
  padding: 13px 17px;
  font-size: 20px;
  margin: 10px auto 0;
  background: green;
  border: none;
  color: white;
  font-weight: 600;
}
