/* Tablet */
@media only screen and (min-width: 768px) {
  header nav h3 {
    font-size: 23px;
  }
  .container-menu-hamburger {
    display: none;
  }

  #list {
    font-size: 16px;
    position: relative;
    clip-path: none;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 5px;
    pointer-events: all;
  }

  #list li a {
    display: inline-block;
    font-size: 29px;
    padding: 30px auto;
  }

  #list li a:before {
    left: 0;
    transform: translateX(0);
  }

  .hero-image figcaption {
    width: max-content;
    line-height: 38px;
  }

  .hero-image figcaption span:first-child {
    font-size: clamp(1.4375rem, 0.4352rem + 2.0882vw, 2rem);
  }

  .hero-image figcaption span:last-child {
    font-size: clamp(1.0625rem, 0.2829rem + 1.6241vw, 1.5rem);
  }

  .food {
    max-width: 800px;
  }
}
